/* General */

body {
	color: black;
	background-color: white;

	font-family: verdana, tahoma, helvetica, arial, sans-serif;
	font-size: 14px;

	margin: 0px;
}

a {
	text-decoration: none;
}

/* Header */

.header {
	font-size: 36px;

	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;

	border-bottom: 1px solid #999999;
	
	margin: 0px;
}

/* Sideboxes */

.sidebox {
	background-color: #f0f0f0;

	font-size: 12px;
	
	width: 200px;

	padding-top: 1em;
	padding-bottom: 1em;
	
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
	
	float: left;
	clear: left;
}

.sidebox .title {
	display: block;

	font-size: 14px;
	font-weight: bold;
	
	text-align: center;	
}

/* Main content */

.content {
	background-color: white;
	
	text-align: justify;
	line-height: 1.5em;
	
	padding: 5mm 5mm 2mm 5mm;
	padding: 1.5ex 1ex;
	
	border-left: 1px solid #999999;
	
	margin: 0 0 0 200px;
}

.content ul {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
	padding-right: 2px;
	
	margin: 0px;	
}

.content ul li {
	list-style-type: none;
}
