/* General */

body {
	color: black;
	background-color: white;

	font-family: sans-serif;
	font-size: 14px;

	margin: 0 5%;
}

a, a:active, a:visited
{
	color: #930F09;
	text-decoration: none;
}

h2 {
	font-size: 16px;
	color: #666;
	margin: 20px 0px 5px 0px;
	border-bottom: 1px dotted #cccccc;
}

/* Header */

.header {
	font-size: 36px;

	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;

	border-bottom: 1px solid #000;

	margin: 1ex;
}

/* Sideboxes */

.sidebox {
	font-size: 12px;
	
	margin-top: 2em;
	margin-left: 5%;
	margin-bottom: 2em;
	
	width: 20%;

	padding: 0px;
	
	border: 1px solid #333;
	
	float: left;
	clear: left;
}

.sidebox .title {
	color: #fff;
	background-color: #333;
	
	display: block;

	font-size: 14px;
	font-weight: bold;
	
	text-align: center;	
}

#tags table {
	margin: 5%;
}

#tags a {
	font-weight: bold;
}

#hosting {
	text-align: center;
}

#hosting a img {
	border: 0px;
}

/* Main content */

.content {
	background-color: white;
	
	text-align: justify;
	line-height: 1.5em;
	
	padding: 5mm 5mm 2mm 5mm;
	padding: 1.5ex 1ex;
	
	border: 1px dashed #999;
	
	margin: 5em 5% 5em 30%;
}

.content ul {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
	padding-right: 2px;
	
	margin: 0px;	
}

.content ul li {
	list-style-type: none;
}

/* Footer */

.footer {
	text-align: center;
	
	font-size: 11px;
	color: #666666;
	padding-top: 4px;
	margin: 0px 20px 0px 20px;  
	border-top: 1px dotted #cccccc;
  	
	clear: left;
}


