/* General */

body {
	color: black;
	background-color: white;

	font-family: verdana, tahoma, helvetica, arial, sans-serif;
	font-size: 12px;

	margin: 0px;
}

a {
	text-decoration: none;
}

/* Header */

.header {
	/*
	position: absolute;
	top: 0;
	*/

	border-bottom: 1px solid #ccc;
}

/* Menu */

.menu {
	border-bottom: 4px solid #eee;
	
	margin: 0;
	
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 0px;

	list-style: none;
}

.menu li {
	display: inline;
	
	margin: 0;
	
	text-align: center;
}

.menu>li+li {
	border-left: 1px solid #ccc;
}

.menu a {
	padding-left: 8px;
	padding-right: 8px;

	font-weight: bold;
}

.menu a.current {
	padding-top: 2px;
}

.menu a:hover, .menu a.current {
	background: #eee;
	color: #333;
}

/* Form */

form {
	background: #eee;

	display: block;

	margin: 0px;

	padding: 2px;
	padding-bottom: 4px;
	
	font-size: 11px;

}

input#query {
	width: 78%;
	
	padding: 2px;
	
	margin-left: auto;
	margin-right: auto;
}

input#submit {
	width: 18%;

	padding: 2px;
	
	/*
	display: none; 
	*/
}


/* Content */

.results {
	font-size: 11px;
}

.results ul a {
	text-decoration: none;
	display: block;
}

.results ul a:hover {
	background: #eef;
}

/* Lists */

ul.list {
	margin: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
	padding-right: 2px;
}

ul.list li {
	list-style-type: none;
}


/* Trees */

ul.tree {
	margin: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
	padding-right: 2px;
	padding-left: 20px;
}

ul.tree ul.tree {
	padding-left: 16px;
}

li.expanded { 
	list-style-image: url("../icons/minus.png") 
}

li.collapsed { 
	list-style-image: url("../icons/plus.png") 
}

li.single { 
	list-style-image: url("../icons/none.png") 
}
